@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* 공통 부분 */
body {
  /* background: linear-gradient(#E44D26 50%, #ffffff 50%); */
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  color: #0d1730;
}

a {
  text-decoration-line: none;
}

p {
  font-family: 'Poppins', sans-serif;
}

.medium {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 섹션 타이틀 */
.section-title {
  position: relative;
  font-size: 32px;
  color: #3e6ff4;
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* 헤더 */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'GmarketSansMedium';
}

.nav {
  width: 1024px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.nav .nav_logo {
  color: #0d1730;
}

.nav .nav_menu {
  width: 400px;
}

.nav .nav_menu .nav_list {
  display: flex;
}

.nav .nav_menu .nav_list .nav_item {
  padding: 0px 17px;
}

.nav .nav_menu .nav_list .nav_link {
  position: relative;
  color: inherit;
  font-size: 16px;
}

.nav .nav_menu .nav_list .nav_link:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  top: 25px;
  background-color: #0d1730;
}

/* 메인 */
.about,
.skills,
.work {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.home {
  width: 100%;
  padding: 60px 0 32px;
  position: relative;
}

.home_data {
  width: 100%;
  height: 500px;
  position: relative;
}

.home .home_data .home_title {
  font-size: 56px;
  font-family: 'Poppins', sans-serif;
  line-height: 75px;
  color: #fff;
  width: 1024px;
  margin: auto;
  padding: 100px 0 60px;
}

.home .home_data .home_title .home_title_color {
  color: #0d1730;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.home_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}

/* .home_blob_img {width: 360px;} */

.btn {
  position: relative;
  width: 1024px;
  margin: auto;
  bottom: 150px;
}

.button {
  font-family: 'GmarketSansMedium';
  display: inline-block;
  background-color: #0d1730;
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* About 부분 */
.about .about_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: initial;
  column-gap: 70px;
  display: grid;
}

.about .about_container div:nth-child(2) .about_subtitle {
  position: relative;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 16px;
  animation: slide 2s ease-in-out;
}

.about .about_container div:nth-child(2) .about_text {line-height: 24px; animation: slide 2s ease-in-out;}

/* 명함 부분 */
.business_card {
  width: 477px;
  height: 200px;
  position: relative;
  
}
.business_card .front ,
.business_card .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s linear;
}
.business_card .front {
  background-color: #242424;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
 .business_card:hover .front {
  transform: perspective(700px) rotateY(180deg)
}

.business_card .front .representative {
  font-size: 32px;
  font-weight: 600;
  margin-top: 16px;
}
.business_card .front::before {
  content: "";
  border-radius: 50%;
  border: 8px solid #dad0d020;
  position: absolute;
  top: -25%;
  height: 150%;
  width: 320px;
  transform: rotateY(35deg);
}

.business_card .back {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242424;
  transform: perspective(700px) rotateY(-180deg);
}

.business_card:hover .back {
  transform: perspective(700px) rotateY(0deg);
}

.business_card .back .image,
.business_card .back .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.business_card .back .image {
  border-top-right-radius: 50%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 100%;
  background-color: #fff;
  color: #242424;
  align-items: center;
}
.business_card .back .image img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border: 2px solid #242424;
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 16px;
}

.business_card .back .image h1 {
  font-size: 18px;
  margin-block: 8px;
}
.business_card .back .image h2 {
  font-size: 16px;
  margin-block: 8px;
} 

.business_card .back .info {
  align-items: flex-start;
  color: #fff;
}

.business_card .back .info .contact {
  line-height: 24px;
  margin-block: 8px;
  font-size: 14px;
}

.business_card .back .info .contact i {
  font-size: 18px;
  margin-right: 16px;
}

/* skills 부분 */
.skills .skills_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: initial;
  column-gap: 70px;
  display: grid;
}
.skills .skills_container .skills_subtitle {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 16px;
}

.skills .skills_container .skills_text {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 32px;
  line-height: 24px;
}

.skills_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
  margin-bottom: 32px;
}
.skills_names {
  display: flex;
  align-items: center;
}
.skills_icon {
  font-size: 35px;
  margin-right: 20px;
}

.skills_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #3e6ff4;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
  /* animation: progress 0.8s ease-in-out forwards; */
}

.skills_html {
  width: 95%;
}

.skills_css {
  width: 85%;
}

.skills_js {
  width: 65%;
}

.skills_jquery {
  width: 85%;
}

.bxl-html5 {
  color: orangered;
}

.bxl-css3 {
  color: blue;
}

.bxl-javascript {
  color: rgb(236, 221, 13);
}

.bxl-jquery {
  color: #0167ae;
}

.bx {
  font-family: 'boxicons'!important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skills_img img {
  width: 496px;
  border-radius: 10px;
  /* animation: scale 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 1s; */
}


/* WORK 부분 */
.work_container {
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: initial;
  column-gap: 70px;
  display: grid;
}

.work_img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work_img img {
  transition: 1s;
  max-width: 100%;
    height: auto;
    display: block;
}

.work_img img:hover {
  transform: scale(1.1);
}

/* 푸터 영역 */
.footer {
  background-color: #0d1730;
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  margin-top: 48px;
}

.footer_title {
  font-size: 2rem;
  margin-bottom: 32px;
}

.footer_social {
  margin-bottom: 32px;
}

.footer_icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.footer_copy {
  font-size: var(--smaller-font-size);
}


/* bxslide 부분 */
.slider {
  z-index: 1;
}

.slider .img_01 {
  width: 100%;
  height: 500px;
  background: url('/portfolio/assets/html_img.png') center center no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}

.slider .img_02 {
  width: 100%;
  height: 500px;
  background: url('/portfolio/assets/css_img.png') center center no-repeat;
  background-size: cover;
}

.slider .img_03 {
  width: 100%;
  height: 500px;
  background: url('/portfolio/assets/js_img.png') center center no-repeat;
  background-size: cover;
}

.bx-wrapper {
  border: none !important;
}

.top {
  position: fixed;
  z-index: 99;
  bottom: 60px;
  right: 160px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-image: url(/portfolio/assets/top_btn.png);
}

@keyframes slide {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 0.8;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}